    <div class="container">
      <form class="mushpup" role="form">
        <fieldset id="locus-pocus">
          <div class="form-group">
            <input type="text" id="locus" class="form-control"
              placeholder="site (e.g. yahoo.com)" autofocus>
            <p class="hidden warn warn-site"></p>
          </div>
          <div class="form-group">
            <input type="password" id="pocus" class="form-control"
              placeholder="mushpup secret word">
            <p class="hidden warn warn-site"></p>
          </div>
        </fieldset>
        <button id="mush" class="btn btn-lg btn-primary btn-block" type="submit">mush</button>

        <panel id="hash">
          <div id="warnings"></div>
          <div id="payload">
            <div id="upper-ruler"></div>
            <div id="hash-row"></div>
            <div id="lower-ruler"></div>
          </div>
        </panel>
      </form>
    </div> <!-- /container -->
