      <!-- User Guide -->
      <div id="user-guide" class="row">
        <div class="col-lg-4">
          <h3>To use Mushpup, first:</h3>
          <ol>
            <li>Pick a <strong>Mushpup secret word</strong> (a master password only you remember)</li>
            <li>Pick a <strong>Mushpup number</strong> (between 8 and 16)</li>
            <li>Pick a <strong>Mushpup side</strong> (left, right, or middle)</li>
          </ol>
          <p class="text-info">You will want to use these by habit, so make picks that you will remember.</p>
        </div>
        <div class="col-lg-4">
          <h3>Then, to get a new password:</h3>
          <ol>
            <li>Identify new site (e.g. github.com)</li>
            <li>Set your user name (e.g. klenwell)</li>
            <li>Set your <strong>site input</strong> based on site/user (e.g. github.com/klenwell)</li>
          </ol>
          <p class="text-info">Use the Mushpup form above when you register to a new site. Now is the time to use the confirm button to make sure you enter your secret word correctly.</p>
       </div>
        <div class="col-lg-4">
          <h3>Finally, to retrieve the password:</h3>
          <ol>
            <li>Input <strong>site input</strong> and <strong>Mushpup secret word</strong> in the Mushpup form</li>
            <li>Using your <strong>Mushpup number</strong> and <strong>Mushpup side</strong>, copy your password</li>
            <li>Paste the password into the site login password field.</li>
          </ol>
          <p class="text-info">Now you can get you password any time you need it. In this way, by remembering a single password, you get a unique password for every site you use</p>
        </div>
      </div>
    </div>
